input, textarea {
    padding: 10px 20px;
    width:  500px;
    text-align: center;
    border: 1px solid gray;
    color:  gray;
  }
  textarea {
    resize:  none;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-align: left;
    height:  500px;
  }
  button {
    color:  white;
    background: rgb(0, 148, 15);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    width:545px;
  }
  button:hover {
    background: rgba(0, 148, 15, 0.875);
  }
  button:active{
    background: rgba(0, 148, 15, 0.1);
  }
